In [1]:
import krakenex
import datetime
import calendar
import pandas as pd
import time
import os.path
import numpy as np
import requests

%matplotlib inline

In [2]:
period = 1.05

def check_trades(c = 'ETH', relay = 'PLN', since = 0):
    url = 'https://bitbay.net/API/Public/' + c + relay + '/trades.json?since=' + str(since)
    time.sleep(period)
    r = requests.get(url)
#     print(r.json())
    return r.json()

In [5]:
if os.path.isfile('Data/trades_BitBay_ETH.csv'):
    df_trades = pd.read_csv('Data/trades_BitBay_ETH.csv', index_col=0, header=0)
else:
    df_trades = pd.DataFrame(columns=['date','price','type','amount','tid'])

#print(df_trades.dtypes)
    
if os.path.isfile('Data/last_BitBay_ETH.txt'):
    file = open('Data/last_BitBay_ETH.txt', 'r') 
    last = int(file.read())
    file.close()
else:
    last = 0

while True:
# for i in range(1):
    try:
        trades = check_trades(since = last)
    except:
        print("except")
        time.sleep(period*10)
        pass
    else:
#         if not trades['error']:
        if len(trades) > 0:
            last = trades[-1]['tid']

            df_temp = pd.DataFrame(data=trades, columns=['date','price','type','amount','tid'])
            df_temp[['amount','price']] = df_temp[['amount','price']].astype('float64')

            df_trades = pd.concat([df_trades,df_temp], ignore_index=True).drop_duplicates().sort_values('date').reset_index(drop=True)  

            df_trades.to_csv('Data/trades_BitBay_ETH.csv')
            file = open('Data/last_BitBay_ETH.txt', 'w')
            file.write(last)
            file.close()
            
            file = open('Data/last_check_ETH.txt', 'w')
            file.write(str(time.time()))
            file.close()

            print(pd.to_datetime(df_temp['date'], unit='s').tail(1))
            time.sleep(10*period)
        else:
            time.sleep(10*period)
#         else:
#             print(trades['error'])
#             time.sleep(period*10)

49   2016-04-04 13:08:59
Name: date, dtype: datetime64[ns]
          date  price type    amount tid
49  1459775339   47.0  buy  0.786808  50
49   2016-04-04 21:59:15
Name: date, dtype: datetime64[ns]
          date  price  type   amount  tid
49  1459807155   41.1  sell  5.52588  100
49   2016-04-05 14:24:08
Name: date, dtype: datetime64[ns]
          date  price  type  amount  tid
49  1459866248   41.0  sell     1.1  150
49   2016-04-06 11:33:46
Name: date, dtype: datetime64[ns]
          date  price  type  amount  tid
49  1459942426  39.51  sell     0.2  200
49   2016-04-07 12:37:28
Name: date, dtype: datetime64[ns]
          date  price  type   amount  tid
49  1460032648   39.5  sell  19.2152  250
49   2016-04-07 17:06:55
Name: date, dtype: datetime64[ns]
          date  price  type    amount  tid
49  1460048815   38.6  sell  0.200539  300
49   2016-04-08 08:31:34
Name: date, dtype: datetime64[ns]
          date  price  type   amount  tid
49  1460104294  38.03  sell  0.15777  350
49   2016-04-08 13:45:43
Name: date, dtype: datetime64[ns]
          date  price  type   amount  tid
49  1460123143  38.55  sell  4.82551  400
49   2016-04-09 14:12:05
Name: date, dtype: datetime64[ns]
          date  price  type   amount  tid
49  1460211125   36.7  sell  1.90763  450
49   2016-04-10 22:06:13
Name: date, dtype: datetime64[ns]
          date  price type   amount  tid
49  1460325973   31.4  buy  0.23444  500
49   2016-04-12 07:18:21
Name: date, dtype: datetime64[ns]
          date  price type   amount  tid
49  1460445501  32.56  buy  10.9337  550
49   2016-04-12 12:03:18
Name: date, dtype: datetime64[ns]
          date  price  type   amount  tid
49  1460462598   30.5  sell  14.7541  600
49   2016-04-13 13:37:21
Name: date, dtype: datetime64[ns]
          date  price  type   amount  tid
49  1460554641   28.0  sell  11.5221  650
49   2016-04-14 13:27:16
Name: date, dtype: datetime64[ns]
          date  price  type   amount  tid
49  1460640436  33.31  sell  7.37016  700
49   2016-04-15 20:31:46
Name: date, dtype: datetime64[ns]
          date  price type  amount  tid
49  1460752306   30.9  buy    13.0  750
49   2016-04-18 11:04:38
Name: date, dtype: datetime64[ns]
          date  price type   amount  tid
49  1460977478  38.05  buy  13.9765  800
49   2016-04-19 09:16:21
Name: date, dtype: datetime64[ns]
          date  price type     amount  tid
49  1461057381   37.5  buy  19.525499  850
49   2016-04-20 19:25:20
Name: date, dtype: datetime64[ns]
          date  price  type   amount  tid
49  1461180320  32.99  sell  3.36557  900
49   2016-04-21 20:41:12
Name: date, dtype: datetime64[ns]
          date  price  type     amount  tid
49  1461271272   33.5  sell  33.009102  950
49   2016-04-25 12:36:03
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1461587763   31.0  buy  28.9888  1000
49   2016-04-27 22:04:32
Name: date, dtype: datetime64[ns]
          date  price  type     amount   tid
49  1461794672   29.5  sell  32.718498  1050
49   2016-04-30 13:51:02
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1462024262  33.99  buy  9.19108  1100
49   2016-05-02 16:30:04
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1462206604   41.0  sell  33.5854  1150
49   2016-05-05 08:50:11
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1462438211   37.3  buy  17.9499  1200
49   2016-05-06 13:39:54
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1462541994   37.9  sell  4.04604  1250
49   2016-05-09 13:58:07
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1462802287  38.38  buy  0.525515  1300
49   2016-05-11 11:37:30
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1462966650  39.99  buy  3.52588  1350
49   2016-05-13 05:34:57
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1463117697   41.0  buy  2.00244  1400
49   2016-05-16 06:26:20
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1463379980   42.0  buy  0.530247  1450
49   2016-05-17 07:09:57
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1463468997  46.25  buy   3.128  1500
49   2016-05-17 21:08:21
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1463519301  48.08  sell  10.3993  1550
49   2016-05-18 19:48:38
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1463600918   47.0  sell  1.06383  1600
49   2016-05-20 16:14:34
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1463760874  57.97  buy  9.8872  1650
49   2016-05-22 19:10:52
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1463944252   57.3  buy  8.8663  1700
49   2016-05-23 20:47:46
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1464036466   57.8  buy     7.0  1750
49   2016-05-25 07:48:35
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1464162515   52.9  buy    22.0  1800
49   2016-05-27 13:52:52
Name: date, dtype: datetime64[ns]
          date  price  type     amount   tid
49  1464357172   44.1  sell  35.801201  1850
49   2016-05-31 09:14:54
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1464686094   55.5  buy    9.05  1900
49   2016-06-03 11:05:30
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1464951930   53.3  sell  8.10038  1950
49   2016-06-08 02:33:39
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1465353219   56.0  buy  8.78089  2000
49   2016-06-11 17:26:21
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1465665981  53.01  sell  0.447424  2050
49   2016-06-13 11:55:00
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1465818900   63.0  buy  0.793651  2100
49   2016-06-14 15:10:41
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1465917041   72.5  sell  13.7931  2150
49   2016-06-15 14:34:27
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1466001267  79.99  buy    10.0  2200
49   2016-06-16 11:05:29
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1466075129   79.8  buy  0.37792  2250
49   2016-06-17 08:48:10
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1466153290   75.5  sell  4.21184  2300
49   2016-06-17 12:03:07
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1466164987   68.2  sell  7.33138  2350
49   2016-06-18 07:29:54
Name: date, dtype: datetime64[ns]
          date  price  type     amount   tid
49  1466234994   55.5  sell  27.910801  2400
49   2016-06-18 15:53:26
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1466265206   47.0  sell  13.5357  2450
49   2016-06-19 19:43:17
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1466365397  46.01  sell  1.01934  2500
49   2016-06-20 14:42:11
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1466433731   48.0  buy  1.15339  2550
49   2016-06-21 15:22:32
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1466522552  50.64  buy  2.96209  2600
49   2016-06-22 19:49:10
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1466624950   53.0  sell  0.377358  2650
49   2016-06-26 20:38:01
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1466973481   56.5  sell  22.0214  2700
49   2016-06-29 23:59:35
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1467244775  50.46  buy  1.6262  2750
49   2016-07-05 08:14:31
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1467706471  46.51  sell  3.76498  2800
49   2016-07-07 11:26:56
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1467890816  44.99  buy   1.206  2850
49   2016-07-12 22:48:40
Name: date, dtype: datetime64[ns]
          date  price  type  amount   tid
49  1468363720   42.3  sell     5.0  2900

49   2016-07-15 20:14:23
Name: date, dtype: datetime64[ns]
          date  price  type  amount   tid
49  1468613663   47.0  sell     5.0  2950
49   2016-07-20 04:46:42
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1468990002  47.58  buy  10.8315  3000
49   2016-07-22 19:10:45
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1469214645   55.5  buy  10.531  3050
49   2016-07-29 10:03:29
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1469786609   49.0  sell  1.55397  3100
49   2016-08-02 18:56:06
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1470164166   39.4  buy    0.75  3150
49   2016-08-09 11:53:23
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1470743603   45.0  buy  22.3416  3200
49   2016-08-18 12:18:19
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1471522699  43.62  buy  4.47315  3250
49   2016-08-24 17:29:29
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1472059769   41.5  sell  1.70832  3300
49   2016-08-31 07:57:21
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1472630241  43.37  buy     2.0  3350
49   2016-09-01 06:46:56
Name: date, dtype: datetime64[ns]
          date  price type     amount   tid
49  1472712416   46.0  buy  36.733002  3400
49   2016-09-05 19:40:17
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1473104417   46.0  sell  1.00955  3450
49   2016-09-12 13:18:53
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1473686333   47.0  buy  0.106566  3500
49   2016-09-18 09:41:52
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1474191712   49.5  buy  28.7428  3550
49   2016-09-20 09:30:07
Name: date, dtype: datetime64[ns]
          date  price  type  amount   tid
49  1474363807  50.35  sell     4.0  3600
49   2016-09-27 07:09:22
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1474960162   50.0  buy  0.062302  3650
49   2016-10-03 10:09:42
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1475489382  51.45  buy  1.16618  3700
49   2016-10-10 07:56:02
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1476086162  47.99  buy  0.057931  3750
49   2016-10-17 15:52:33
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1476719553   46.1  sell  0.759219  3800
49   2016-10-22 04:56:34
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1477112194   49.3  sell  0.316488  3850
49   2016-10-29 09:20:17
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1477732817  45.01  sell  2.29459  3900
49   2016-11-03 09:59:20
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1478167160  44.23  buy  0.113045  3950
49   2016-11-08 11:57:58
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1478606278  44.11  buy  1.54007  4000
49   2016-11-10 17:06:25
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1478797585  45.84  buy  1.91099  4050
49   2016-11-14 18:09:52
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1479146992  40.51  sell  1.61832  4100
49   2016-11-18 08:01:17
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1479456077   42.5  buy     1.2  4150
49   2016-11-21 21:51:59
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1479765119   40.4  buy  10.0656  4200
49   2016-11-27 10:11:11
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1480241471  40.44  sell  2.06511  4250
49   2016-11-29 06:04:26
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1480399466  37.04  sell  2.40696  4300
49   2016-12-02 01:13:47
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1480641227  35.89  sell  10.3672  4350
49   2016-12-06 20:59:20
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1481057960   34.0  buy  11.3148  4400
49   2016-12-20 10:03:34
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1482228214   40.0  buy  3.22556  4450
49   2016-12-30 12:15:40
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1483100140   37.5  buy  7.34175  4500
49   2017-01-04 08:50:20
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1483519820  44.89  buy  1.00151  4550
49   2017-01-05 20:45:57
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1483649157   39.5  sell  10.6929  4600
49   2017-01-11 17:52:11
Name: date, dtype: datetime64[ns]
          date  price  type     amount   tid
49  1484157131  42.13  sell  16.870899  4650
49   2017-01-22 15:02:05
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1485097325  45.96  buy  0.363333  4700
49   2017-01-31 18:35:27
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1485887727  45.26  buy  0.19792  4750
49   2017-02-08 08:42:46
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1486543366  45.17  buy  0.417755  4800
49   2017-02-14 12:16:09
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1487074569   49.0  buy  0.102041  4850
49   2017-02-20 13:43:30
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1487598210  53.69  buy     5.0  4900
49   2017-02-24 15:52:11
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1487951531  53.71  buy  6.93679  4950
49   2017-02-27 18:33:27
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1488220407   58.5  buy  7.452991  5000
49   2017-02-28 21:14:05
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1488316445  64.04  sell  0.650689  5050
49   2017-03-01 18:58:06
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1488394686   70.0  sell  2.857143  5100
49   2017-03-02 14:43:05
Name: date, dtype: datetime64[ns]
          date  price  type  amount   tid
49  1488465785  73.11  sell     1.0  5150
49   2017-03-03 09:24:47
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1488533087  98.76  buy  0.145287  5200
49   2017-03-03 12:04:52
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1488542692  130.0  sell  0.007692  5250
49   2017-03-03 15:28:46
Name: date, dtype: datetime64[ns]
          date  price  type  amount   tid
49  1488554926   92.0  sell    0.25  5300
49   2017-03-03 19:48:47
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1488570527   85.5  buy  0.467836  5350
49   2017-03-04 12:04:46
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1488629086   89.0  sell  4.297865  5400
49   2017-03-06 04:59:08
Name: date, dtype: datetime64[ns]
          date  price  type     amount   tid
49  1488776348  81.04  sell  13.809354  5450
49   2017-03-07 09:30:48
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1488879048   81.7  sell  1.132606  5500
49   2017-03-08 14:57:39
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1488985059  79.99  buy  5.838355  5550
49   2017-03-10 10:48:15
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1489142895  75.96  buy    0.32  5600
49   2017-03-11 14:58:08
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1489244288   81.0  buy  0.340123  5650
49   2017-03-12 10:30:28
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1489314628   98.5  buy  0.903046  5700
49   2017-03-13 05:41:06
Name: date, dtype: datetime64[ns]
          date   price type  amount   tid
49  1489383666  113.99  buy     7.9  5750

49   2017-03-13 13:55:24
Name: date, dtype: datetime64[ns]
          date  price  type  amount   tid
49  1489413324  112.0  sell     1.0  5800
49   2017-03-13 17:00:22
Name: date, dtype: datetime64[ns]
          date  price  type  amount   tid
49  1489424422  120.0  sell     2.0  5850
49   2017-03-13 20:23:46
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1489436626  120.0  sell  2.616667  5900
49   2017-03-14 07:48:55
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1489477735  116.0  sell  0.660977  5950
49   2017-03-14 15:16:59
Name: date, dtype: datetime64[ns]
          date  price  type     amount   tid
49  1489504619  115.0  sell  10.602261  6000
49   2017-03-14 23:34:09
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1489534449  116.1  sell  2.013153  6050
49   2017-03-15 15:23:21
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1489591401  132.95  buy  1.297706  6100
49   2017-03-15 19:34:27
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1489606467  155.01  sell  0.598025  6150
49   2017-03-15 20:52:02
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1489611122  165.0  buy  0.209941  6200
49   2017-03-15 21:45:46
Name: date, dtype: datetime64[ns]
          date  price  type  amount   tid
49  1489614346  178.0  sell  2.7783  6250
49   2017-03-16 00:49:44
Name: date, dtype: datetime64[ns]
          date   price type  amount   tid
49  1489625384  189.98  buy   15.54  6300
49   2017-03-16 08:00:46
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1489651246  231.0  sell  0.11971  6350
49   2017-03-16 08:16:47
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1489652207  220.0  sell  0.364752  6400
49   2017-03-16 09:46:51
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1489657611  230.0  buy  0.267391  6450
49   2017-03-16 10:22:47
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1489659767  268.7  buy  0.533445  6500
49   2017-03-16 11:11:28
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1489662688  234.99  buy  0.697179  6550
49   2017-03-16 12:12:27
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1489666347  214.29  buy  6.061879  6600
49   2017-03-16 13:24:23
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1489670663  190.0  sell  1.289474  6650
49   2017-03-16 14:08:13
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1489673293  171.01  sell  6.746114  6700
49   2017-03-16 19:11:28
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1489691488  181.0  buy  1.320442  6750
49   2017-03-16 21:06:45
Name: date, dtype: datetime64[ns]
          date  price  type  amount   tid
49  1489698405  210.0  sell     0.1  6800
49   2017-03-16 22:01:14
Name: date, dtype: datetime64[ns]
          date   price  type  amount   tid
49  1489701674  201.01  sell  6.9713  6850
49   2017-03-17 07:14:41
Name: date, dtype: datetime64[ns]
          date  price  type  amount   tid
49  1489734881  211.0  sell     0.1  6900
49   2017-03-17 08:27:47
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1489739267  185.01  sell  2.751658  6950
49   2017-03-17 08:52:27
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1489740747  155.51  sell  1.370422  7000
49   2017-03-17 11:37:35
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1489750655  190.0  buy   1.025  7050
49   2017-03-17 17:19:14
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1489771154  190.01  sell  3.421399  7100
49   2017-03-17 20:37:26
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1489783046  184.99  buy  1.058691  7150
49   2017-03-18 03:06:36
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1489806396  171.01  sell  1.311127  7200
49   2017-03-18 09:54:03
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1489830843  164.01  sell  0.609719  7250
49   2017-03-18 14:19:56
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1489846796  166.91  sell  5.509876  7300
49   2017-03-18 19:03:00
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1489863780  164.5  buy  10.2418  7350
49   2017-03-18 21:52:35
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1489873955  151.0  buy  1.986755  7400
49   2017-03-19 17:36:21
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1489944981  183.0  buy    10.0  7450
49   2017-03-19 21:18:45
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1489958325  181.03  sell  1.698272  7500
49   2017-03-20 17:47:03
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1490032023  182.03  sell  0.676959  7550
49   2017-03-21 05:58:23
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1490075903  188.0  buy  2.950372  7600
49   2017-03-21 16:41:01
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1490114461  177.16  buy  0.134624  7650
49   2017-03-22 07:56:23
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1490169383  175.11  sell  1.713209  7700
49   2017-03-22 15:06:18
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1490195178  166.0  sell  4.069955  7750
49   2017-03-23 06:07:12
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1490249232  175.47  buy  0.144754  7800
49   2017-03-23 21:44:11
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1490305451  177.9  buy  0.891739  7850
49   2017-03-24 11:41:53
Name: date, dtype: datetime64[ns]
          date  price type     amount   tid
49  1490355713  189.0  buy  13.636124  7900
49   2017-03-24 14:33:56
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1490366036  184.06  sell  0.271651  7950
49   2017-03-24 22:21:26
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1490394086  195.0  buy  4.529077  8000
49   2017-03-25 07:40:43
Name: date, dtype: datetime64[ns]
          date  price  type     amount   tid
49  1490427643  200.1  sell  25.060858  8050
49   2017-03-25 15:16:14
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1490454974  195.79  sell  1.021503  8100
49   2017-03-26 12:52:17
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1490532737  197.8  buy  0.512791  8150
49   2017-03-27 08:17:34
Name: date, dtype: datetime64[ns]
          date  price type     amount   tid
49  1490602654  194.0  buy  13.485876  8200
49   2017-03-27 14:37:07
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1490625427  189.0  sell  0.832433  8250
49   2017-03-28 09:27:01
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1490693221  190.0  buy  3.157895  8300
49   2017-03-28 19:37:19
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1490729839  193.0  buy  3.017513  8350
49   2017-03-29 07:20:27
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1490772027  205.0  buy  3.598428  8400
49   2017-03-29 13:40:48
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1490794848  205.01  sell  1.868616  8450
49   2017-03-30 07:52:54
Name: date, dtype: datetime64[ns]
          date  price  type   amount   tid
49  1490860374  208.0  sell  0.83524  8500
49   2017-03-30 11:53:40
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1490874820  213.0  buy  2.680751  8550
49   2017-03-30 19:54:11
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1490903651  213.97  buy  0.730944  8600

49   2017-03-31 07:02:30
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1490943750  213.5  sell  6.726621  8650
49   2017-03-31 14:16:01
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1490969761  200.0  sell  7.378761  8700
49   2017-04-01 11:47:22
Name: date, dtype: datetime64[ns]
          date  price type    amount   tid
49  1491047242  203.0  buy  0.186807  8750
49   2017-04-02 17:36:08
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1491154568  202.01  sell  0.530688  8800
49   2017-04-03 05:40:10
Name: date, dtype: datetime64[ns]
          date   price  type     amount   tid
49  1491198010  180.02  sell  14.368403  8850
49   2017-04-03 12:05:28
Name: date, dtype: datetime64[ns]
          date  price type  amount   tid
49  1491221128  185.0  buy   9.995  8900
49   2017-04-03 21:38:01
Name: date, dtype: datetime64[ns]
          date   price  type     amount   tid
49  1491255481  185.26  sell  14.821982  8950
49   2017-04-04 06:54:42
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1491288882  175.17  sell  2.013723  9000
49   2017-04-04 12:18:20
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1491308300  179.75  buy  0.063922  9050
49   2017-04-04 22:14:59
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1491344099  174.61  sell  0.819365  9100
49   2017-04-05 16:04:39
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1491408279  191.99  buy  2.296557  9150
49   2017-04-06 08:15:12
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1491466512  182.99  buy  0.556063  9200
49   2017-04-06 17:12:05
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1491498725  178.57  sell  1.120009  9250
49   2017-04-06 23:36:43
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1491521803  170.0  sell  1.764706  9300
49   2017-04-07 19:27:58
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1491593278  172.2  sell  6.021255  9350
49   2017-04-08 15:12:19
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1491664339  183.97  buy  0.543567  9400
49   2017-04-10 10:17:25
Name: date, dtype: datetime64[ns]
          date   price  type  amount   tid
49  1491819445  170.15  sell     0.3  9450
49   2017-04-11 18:14:04
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1491934444  175.99  buy  1.369246  9500
49   2017-04-12 19:42:29
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1492026149  179.82  buy  4.026799  9550
49   2017-04-13 08:46:27
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1492073187  185.02  sell  1.001706  9600
49   2017-04-13 15:36:51
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1492097811  193.0  sell  0.895809  9650
49   2017-04-13 19:12:29
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1492110749  197.79  buy  1.263967  9700
49   2017-04-14 15:12:11
Name: date, dtype: datetime64[ns]
          date   price  type    amount   tid
49  1492182731  185.01  sell  7.957036  9750
49   2017-04-15 23:08:20
Name: date, dtype: datetime64[ns]
          date  price type   amount   tid
49  1492297700  193.9  buy  4.66526  9800
49   2017-04-18 10:07:30
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1492510050  192.84  buy  0.171504  9850
49   2017-04-19 13:02:37
Name: date, dtype: datetime64[ns]
          date   price type    amount   tid
49  1492606957  197.67  buy  2.446401  9900
49   2017-04-20 01:41:40
Name: date, dtype: datetime64[ns]
          date  price  type    amount   tid
49  1492652500  195.0  sell  0.051282  9950
49   2017-04-20 21:45:34
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1492724734  192.6  sell  0.404081  10000
49   2017-04-22 10:39:52
Name: date, dtype: datetime64[ns]
          date  price type    amount    tid
49  1492857592  195.8  buy  0.264913  10050
49   2017-04-23 07:45:29
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1492933529  186.5  sell  0.956461  10100
49   2017-04-24 12:24:01
Name: date, dtype: datetime64[ns]
          date  price type    amount    tid
49  1493036641  194.0  buy  0.942197  10150
49   2017-04-25 15:36:44
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493134604  193.5  sell  4.966144  10200
49   2017-04-26 07:53:35
Name: date, dtype: datetime64[ns]
          date  price type  amount    tid
49  1493193215  195.0  buy    0.19  10250
49   2017-04-26 08:45:40
Name: date, dtype: datetime64[ns]
          date   price  type    amount    tid
49  1493196340  192.51  sell  0.035743  10300
49   2017-04-26 10:45:51
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493203551  196.5  sell  1.018344  10350
49   2017-04-26 11:36:36
Name: date, dtype: datetime64[ns]
          date  price type    amount    tid
49  1493206596  200.5  buy  0.014963  10400
49   2017-04-26 13:17:49
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493212669  194.0  sell  0.309278  10450
49   2017-04-26 17:07:46
Name: date, dtype: datetime64[ns]
          date   price type    amount    tid
49  1493226466  202.99  buy  0.254889  10500
49   2017-04-26 19:47:48
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493236068  204.0  sell  2.570196  10550
49   2017-04-27 07:10:18
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493277018  207.0  sell  2.647343  10600
49   2017-04-27 10:14:58
Name: date, dtype: datetime64[ns]
          date   price  type    amount    tid
49  1493288098  209.66  sell  0.193605  10650
49   2017-04-27 12:27:02
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493296022  220.0  sell  0.455881  10700
49   2017-04-27 13:34:29
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493300069  230.5  sell  1.728026  10750
49   2017-04-27 14:53:24
Name: date, dtype: datetime64[ns]
          date   price type    amount    tid
49  1493304804  229.93  buy  0.510634  10800
49   2017-04-27 19:40:48
Name: date, dtype: datetime64[ns]
          date   price type    amount    tid
49  1493322048  236.98  buy  3.967947  10850
49   2017-04-28 04:55:30
Name: date, dtype: datetime64[ns]
          date  price type    amount    tid
49  1493355330  245.0  buy  4.226572  10900
49   2017-04-28 07:32:35
Name: date, dtype: datetime64[ns]
          date  price type    amount    tid
49  1493364755  268.5  buy  8.805482  10950
49   2017-04-28 09:29:27
Name: date, dtype: datetime64[ns]
          date  price type    amount    tid
49  1493371767  259.7  buy  2.783982  11000
49   2017-04-28 12:13:51
Name: date, dtype: datetime64[ns]
          date  price type    amount    tid
49  1493381631  245.0  buy  0.091798  11050
49   2017-04-28 16:23:19
Name: date, dtype: datetime64[ns]
          date  price type    amount    tid
49  1493396599  256.8  buy  1.648126  11100
49   2017-04-28 19:09:42
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493406582  260.0  sell  0.624269  11150
49   2017-04-28 23:38:01
Name: date, dtype: datetime64[ns]
          date   price type    amount    tid
49  1493422681  269.44  buy  0.170347  11200
49   2017-04-29 13:00:53
Name: date, dtype: datetime64[ns]
          date   price  type  amount    tid
49  1493470853  260.02  sell     0.4  11250
49   2017-04-29 20:54:31
Name: date, dtype: datetime64[ns]
          date   price type   amount    tid
49  1493499271  268.25  buy  4.20343  11300
49   2017-04-30 00:35:07
Name: date, dtype: datetime64[ns]
          date  price type    amount    tid
49  1493512507  262.0  buy  0.136987  11350
49   2017-04-30 17:31:51
Name: date, dtype: datetime64[ns]
          date  price type    amount    tid
49  1493573511  277.0  buy  1.000943  11400

49   2017-04-30 19:21:45
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493580105  290.0  sell  4.433826  11450
49   2017-04-30 22:42:36
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493592156  291.0  sell  0.873093  11500
49   2017-05-01 05:30:31
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493616631  351.2  sell  1.944226  11550
49   2017-05-01 06:46:21
Name: date, dtype: datetime64[ns]
          date   price type  amount    tid
49  1493621181  317.48  buy     3.0  11600
49   2017-05-01 07:34:39
Name: date, dtype: datetime64[ns]
          date  price  type     amount    tid
49  1493624079  316.0  sell  15.127074  11650
49   2017-05-01 08:41:27
Name: date, dtype: datetime64[ns]
          date  price type  amount    tid
49  1493628087  309.0  buy   0.995  11700
49   2017-05-01 09:39:10
Name: date, dtype: datetime64[ns]
          date   price type    amount    tid
49  1493631550  311.97  buy  1.602718  11750
49   2017-05-01 11:05:34
Name: date, dtype: datetime64[ns]
          date  price  type     amount    tid
49  1493636734  313.0  sell  11.079592  11800
49   2017-05-01 12:16:26
Name: date, dtype: datetime64[ns]
          date   price  type    amount    tid
49  1493640986  309.93  sell  0.003259  11850
49   2017-05-01 13:56:27
Name: date, dtype: datetime64[ns]
          date  price type    amount    tid
49  1493646987  309.5  buy  0.502585  11900
49   2017-05-01 16:02:15
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493654535  285.0  sell  9.794845  11950
49   2017-05-01 17:21:41
Name: date, dtype: datetime64[ns]
          date   price  type   amount    tid
49  1493659301  286.01  sell  0.27165  12000
49   2017-05-01 18:28:49
Name: date, dtype: datetime64[ns]
          date   price type    amount    tid
49  1493663329  303.44  buy  0.827003  12050
49   2017-05-01 20:17:48
Name: date, dtype: datetime64[ns]
          date   price type    amount    tid
49  1493669868  285.01  buy  0.052621  12100
49   2017-05-01 21:22:17
Name: date, dtype: datetime64[ns]
          date   price  type    amount    tid
49  1493673737  280.01  sell  0.348295  12150
49   2017-05-02 02:45:49
Name: date, dtype: datetime64[ns]
          date   price  type    amount    tid
49  1493693149  288.41  sell  8.386791  12200
49   2017-05-02 06:23:38
Name: date, dtype: datetime64[ns]
          date   price  type    amount    tid
49  1493706218  276.01  sell  0.010335  12250
49   2017-05-02 10:33:58
Name: date, dtype: datetime64[ns]
          date  price  type    amount    tid
49  1493721238  275.0  sell  0.909091  12300
except

KeyboardInterrupt: